.homeslide{
    overflow: auto;
}
.about-page{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background: linear-gradient(#bdc3c7, #2c3e50);
}
.aboutlogo{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25%;
    height: 13%;
    font-size: 3vw;
    background-color: #638692;
}
.title{
    color: beige;
}
.aboutpara{
    display: flex;
    justify-content: center;
    width: 80%;
    height: 30%;
    align-items: center;
}
.para{
    font-style: italic;
    font-size: 1.3vw;

}
.developer1{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 80%;
    height: 45%;
}
.flex1{
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.flex2{
    height: 75%;
    display: flex;
    justify-content: space-between;
}
.heading{
    width: 33%;
    height: 25%;


}
.heading h1{
    text-align: center;
    text-decoration: underline;
    font-size: 3vw;
}
.image1{
    height: 80%;
    background-image: url("pic3.JPG");
    background-size: 100% 140%;
    

}
/* .image1:hover{
    height: 180%;
    width: 160%;
    bottom: 50%;
    margin: auto;
} */
.image2{
    height: 80%;
    background-image: url("pic1.jpeg");
    background-size: 100% 165%;
    background-position-y: 30%;
    
}
/* .image2:hover{
    height: 100%;
    width: 20%;
    bottom: 50%;
    margin: auto;
} */
.image3{
    height: 80%;
    background-image: url("pic2.png");
    background-size: 140% 130%;
    background-position-x: 45%;

}
/* .image3:hover{
    height: 100%;
    width: 20%;
    bottom: 50%;
    margin: auto;
} */
.image4{
    height: 80%;
    background-image: url("pic4.jpeg");
    background-size: 120% 100%;


}
/* .image4:hover{
    height: 100%;
    width: 20%;
    bottom: 50%;
    margin: auto;
} */
.Name1{
    border: 2px solid black;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    /* display: none; */
}
.Name1 h1{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: lighter;
    font-size: 1.5vw;
}
.kutchbhi{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 20%;
}
.kutchbhi:hover{
    height: 110%;
    width: 25%;
}
