.search-container{
    position: absolute;
    height: 10%;
    width: 85%;
    /* border: 5px solid yellow; */
    background-color: #000000;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}
.searchElement{
    position: absolute;
    top: 0;
    bottom: 0;
    left:0;
    margin-top: 15px;
    padding-left: 15px;
    display: flex;
    width: 40%;

}
.input{
    margin-right: 15px;
    height: 75%;
    width: 150%;
    padding-left: 10px;
    border-radius: 20px;
}
.submit-btn{
    height: 75%;
    width: 50%;
    border-radius: 20px;
}
.logout-btn{
    position: absolute;
    top: 0;
    bottom: 0;
    right:0;
    margin: auto;
    margin-right: 10px;
    height: 55%;
    width: 10%;
    font-size: 1.5vw;
    background-color: #DCD7C9;
}
.search-results{
    position: absolute;
    height: 77%;
    width: 85%;
    top: 10%;
    /* border: 5px solid rgb(238, 0, 255); */
    background-color: #2C3333;
    overflow-y: scroll;
    display: flex;
    flex-wrap: wrap;
}
/* .first{
    height: 40%;
    width: 100%;
    border: 5px solid red;
    display: flex;
    flex-direction: column;
}
.last{
    height: 60%;
    width: 100%;
    border: 5px solid yellow;
} */
.api-div{
    height: 55%;
    width: 25%;
    padding: 10px;
    border-radius: 50%;
    margin-bottom: 65px;
}
.api-div img{
    height: 90%;
    width: 90%;
    border-radius: 50%;
    margin-bottom: 0px;
    
}
.api-div h1{
    text-align: center;
    margin-bottom: 5px;
}